#invitation {
	background: url('/images/invitacion-back-photos.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;

    .opacity-layer {
    	height: 100%;
	    width: 100%;
	    background-color: #000;
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    opacity: 0.6;
    }

    .quote {
	    font-family: "Lato";
	    color: #FFF;
	    font-size: 1rem;
	    line-height: 120%;
	    display: inline-block;
	    text-align: center;
	    position: fixed;
	    top: 5%;
	    transform: translate(-50%);
	    left: 50%;
	    width: 100%;

	    @media screen and (min-width: $screen-mobile-m) {
			font-size: 1.3rem;
		}
    }

    .introduction {
    	font-family: "Great Vibes";
	    color: palevioletred;
	    font-size: 1.5rem;
	    position:fixed;
	    top: 23%;
    	transform: translateY(-50%);

    	@media screen and (min-width: $screen-tablet) {
    		left: 25%;
    		transform: translate(-50%, -50%);
    		font-size: 1.8rem;
		}
    }

    .big-name {
    	position: fixed;
	    width: 100%;
	    left:0;
	    top: 50%;
	    transform: translateY(-50%);

	    .names-wrapper {
		    font-family: 'Great Vibes';
		    font-size: 4rem;
		    color: palevioletred;
		    line-height: 1;
			text-align: center;

			@media screen and (min-width: $screen-mobile-m) {
				font-size: 6rem;
			}

			@media screen and (min-width: $screen-tablet) {
				font-size: 8rem;
			}

			@media screen and (min-width: $screen-laptop) {
				font-size: 9rem;
			}

		    .ampersand {
		    	font-size: 6rem;
		    	display: inline-block;
    			vertical-align: text-bottom;
    			line-height: 1.4;

				@media screen and (min-width: $screen-mobile-m) {
					font-size: 9rem;
				}

				@media screen and (min-width: $screen-tablet) {
					font-size: 12rem;
				}

				@media screen and (min-width: $screen-laptop) {
					font-size: 13rem;
				}
		    }

		    .names {
		    	display: inline-block;
		    }
		}
    }

    .after-wrapper {
    	font-family: "Great Vibes";
	    color: palevioletred;
	    font-size: 1.5rem;
	    position:fixed;
	    top: 75%;
	    left: 50%;
    	transform: translate(-50%);
    	width: 100%;
    	text-align: center;

    	@media screen and (min-width: $screen-tablet) {
    		font-size: 1.8rem;
		}

		.more-information {
			.button {
				background-color: palevioletred;
			    border: 0;
			    color: #FFF;
			    border-radius: 45px;
			    padding: 0.2rem 1.4rem;
			    font-size: 1.2rem;
			    transition: all ease 0.5s;

			    &:hover {
			    	background-color: #FFF;
			    	color: palevioletred;
			    }
			}
		}
    }
}